body {
background-color: 	skyblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif 
}

h1{
    color: black;
}
th{
    background-color: 	 #A14E3E;
}
table{
    margin-left: 320px;
}
img{
margin:5px 5px 5px 5px;
}
titulo1{
    font-family: 'PROJECT SPACE', sans-serif;
        font-size: 50px;
        color: blue;
        text-align: center;                                       
}
                                 